.my-col {
	padding: 0px;
}
.c {
	padding-left: 10px;
}

.my-row {
	height: auto;
}

.my-heading {
	font-family: "times new roman", Times, serif;
	font-color: black;
}

a:hover {
	text-decoration:underline solid brown;
}

.my-img {
	background-image: url("images/14.jfif");
	background-size: 100% 100%;
}
.my-image {
	background-image: url("images/17.jpg");
	background-size: 100% 100%;
	 
}